<!DOCTYPE html>
<html lang="en">
	<head>
           <meta charset="UTF-8">
           <title>index</title>
           
           <base href="" target="_blank">
           <meta name="keywords" content="" />
           <meta name="description" content="" />
           <meta name="viewport" content="width=device-width,initial-scale=1.0,viewport-fit=cover">
           <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

       </head>
           <body class="light-page h-100">
            <div class="about d-flex h-100 .flex-sm-column justify-content-center align-items-center" style="min-height: 100vh; gap: 40px;">
                <div class="card" style="width: 18rem;">
                    <img src="./images/Asiwaju-Bola-Tinubu.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Bola Ahmed Tinubu</h5>
                      <p class="card-text">Chief Bola Ahmed Adekunle Tinubu GCFR is a Nigerian politician who is the 16th and current president of Nigeria. He was the governor of Lagos State from 1999 to 2007; </p>
                      <a href="./login.html" class="btn btn-primary">Vote</a>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img src="./images/peter.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Peter Obi</h5>
                      <p class="card-text">Peter Gregory Obi CON is a Nigerian businessman and politician who served as governor of Anambra from March to November 2006, February to May 2007</p>
                      <a href="./login.html" class="btn btn-primary">Vote</a>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img src="./images/Atiku-Abubakar-3.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Atiku Abubakar</h5>
                      <p class="card-text">Atiku Abubakar GCON is a Nigerian politician and businessman who served as the vice president of Nigeria from 1999 to 2007 during the presidency of Olusegun Obasanjo.</p>
                      <a href="./login.html" class="btn btn-primary">Vote</a>
                    </div>
                  </div>
            </div>
           </body>
		<footer></footer>
		<div class="modal-container"></div>
		
		
		<script src="https://maps.googleapis.com/maps/api/js?key=apikey1 AIzaSyDztlrk_3CnzGHo7CFvLFqE_2bUKEq1JEU"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/custom.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>