
<!DOCTYPE html>
<html lang="en">
	<head>
           <meta charset="UTF-8">
           <title>index</title>
           
           <base href="" target="_blank">
           <meta name="keywords" content="" />
           <meta name="description" content="" />
           <meta name="viewport" content="width=device-width,initial-scale=1.0,viewport-fit=cover">

		   {% load static %}
		   <link rel="stylesheet" href="{% static 'css/fonts.css' %}" />
		<link rel="stylesheet" href="{% static 'css/bootstrap.weber.css' %}" />
		<link rel="stylesheet" href="{% static 'css/fx.css' %}" />
           <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
		<link rel="stylesheet" href="{% static 'css/index.css' %}" />

       </head>
           <body class="light-page">
		<div id="wrap">
			<header id="header-subscribe" class="pt-75 pb-75 pt-md-150 pb-md-150 text-center full-height dark">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-10 ml-auto mr-auto" style="z-index: 10;">
                
                			<h1 class="fx-text-hard-shadow" style="overflow: visible;"><strong class="">{{title}}<br></strong></h1>
                			<h3 class="mb-50" style="overflow: visible; font-size: 30px;">Our Voice, Our Choice, Our Leader, <br>Our Voting App <br></h3>
                                			<a href="./register" class="btn btn-lg btn-primary fx-btn-pill fx-btn-blick fx-btn-shadow fx-btn-3d" style="background-color: rgba(0, 0, 0, 0); background-image: url(&quot;images//uploaded/3/1641439798446.jpeg&quot;);">Cast Your Vote</a>
                                			<a href="./about" class="btn btn-lg btn-primary fx-btn-pill fx-btn-blick fx-btn-shadow fx-btn-3d" style="background-color: rgba(0, 0, 0, 0); background-image: url(&quot;images//uploaded/3/1641439798446.jpeg&quot;);">About Candidates</a>

                
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</header>
		</div>
		<footer></footer>
		<div class="modal-container"></div>
		
		
		<script src="https://maps.googleapis.com/maps/api/js?key=apikey1 AIzaSyDztlrk_3CnzGHo7CFvLFqE_2bUKEq1JEU"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/custom.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>