#header-subscribe .bg {
    background-image: url('../images/uploaded/3/1641439798446.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.19;
}